:root {
  --primary-color: #7284fc;
  --secondary-color: white;
  --font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.navbar {
  background-color: var(--primary-color);
}

.navbar a,
.navbar-brand,
.navbar-nav 
.nav-link {
  color: var(--secondary-color);
}

.hero {
  background-image: url("../images/bubbles.jpg");
  background-size: cover;
  text-align: center;
  color: var(--secondary-color);
  padding: clamp(3rem, 8vw, 10rem) 1rem;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100dvh;
}

.hero h2 {
  font-size: 24px;
  letter-spacing: 10%;
  line-height: auto;
  margin: 0;
}

.hero h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: auto;
  letter-spacing: 10%;
}

.hero p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  max-width: 600px;
  margin: 0 auto 2rem auto;
}

.btn-branding {
  border-radius: 50px;
  background-color: none;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 18px 30px;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 18px;
  font-weight: normal;
}
.project p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.btn-project {
  border-radius: 50px;
  background-color: var(--secondary-color);
  color: #272142;
  border: 2px solid var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 18px 30px;
}



@media (max-width: 900px) {
  .hero {
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero p {
    font-size: 10px;
    line-height: normal;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
  }
}
